# GHP Suite API

In [36]:
# ghp_suite_api.ipynb
# Helper functions for GHP Suite API
#
# Copyright 2021 – Grupo Hotelero Prisma. All rights reserved.
#   Yukie Ley <yukie.ley@hotelesprisma.com>
#   Rodrigo Cantú <rodrigo.cantu@hotelesprisma.com>
#
# Version 1.4 – 2021/11/05
#
# These methods do not save any data to disk, its only stored in memory.
#
# References:
# https://github.com/pandas-dev/pandas/blob/v1.3.3/pandas/io/parsers/readers.py#L491-L586
# https://docs.python.org/3/c-api/memory.html
# https://www.w3schools.com/tags/ref_httpmethods.asp
# https://developer.mozilla.org/en-US/docs/Glossary/cacheable

In [37]:
from ghp_suite_api import GHPSuiteApiConnector # Importing the library from the ghp_suite_api.py file.
import pandas as pd
import sys

# Importing my secret token from the config.py file.
from config import api_key

In [38]:
# Creating the Connector object 
conn =  GHPSuiteApiConnector(api_key)

In [39]:
print(pd.__version__)

1.2.4

## GENERAL FUNCTIONS

In [40]:
# This function returns an empty string if no error was found
# If an error was found, it returns the message in the string
r = conn.test_connection()

if r != '':
    sys.exit('Connection failed. ' + r)

In [41]:
# This function returns an array with the information as it was received in the API Response
venues = conn.get_venues()
# print(venues)
# This function converts the API Response into a DataFrame with the general information of the venues
venues = conn.get_venues_df()
venues.head()

,venue_code,name,active,status,status_name,status_reason,status_reason_name,region,region_name,chain,...,brand,brand_name,segment,segment_name,vertical,vertical_name,city,state,country,available_rooms
0,BJXCE,Wyndham Garden Celaya,False,9,Inactivo,903,Cierre definitivo de propiedad,2,Sur,3,...,310,Wyndham Garden,1,Limited,S,Select,Celaya,Guanajuato,México,150
1,BJXCR,ExHacienda San Xavier,True,1,Activo,101,Activo completamente operacional,2,Sur,1,...,103,ExHacienda San Xavier,2,Full,F,Full,Guanajuato,Guanajuato,México,155
2,BJXIR,Wyndham Garden Irapuato,False,9,Inactivo,903,Cierre definitivo de propiedad,2,Sur,3,...,310,Wyndham Garden,1,Limited,S,Select,Irapuato,Guanajuato,México,102
3,BJXLE,Wyndham Garden León,False,9,Inactivo,903,Cierre definitivo de propiedad,2,Sur,3,...,310,Wyndham Garden,1,Limited,S,Select,León,Guanajuato,México,126
4,BJXSI,Wyndham Garden Silao,False,9,Inactivo,903,Cierre definitivo de propiedad,2,Sur,3,...,310,Wyndham Garden,1,Limited,S,Select,Silao,Guanajuato,México,143

## COMMERCIAL PULSE FUNCTIONS

In [42]:
# This function returns a processed DataFrame with the DailyEntries from a Venue and its Competitors
# Change the venue code, start date and final date as needed
market_dailies = conn.get_market_daily_df('MTYZV','2021-09-01','2021-09-30')
# print(market_dailies)
# This function returns an array with the information as it was received in the API Response
# Change the venue code, start date and final date as needed 
#market_dailies = conn.get_market_daily('MTYZV','2018-09-01','2021-09-30')
# print(market_dailies)

In [43]:
conn.get_market_daily_df('MTYZV','2021-09-01','2021-09-30')

 venue_code        date found rooms_available rooms_occupied room_revenue
      MTYZV  2021-09-01  True             198             89    125286.76
      MTYZV  2021-09-02  True             198             91    126563.82
      MTYZV  2021-09-03  True             198             89    119405.95
      MTYZV  2021-09-04  True             198            110    148074.87
      MTYZV  2021-09-05  True             198             58     77015.99
      MTYZV  2021-09-06  True             198             74     99828.85
      MTYZV  2021-09-07  True             198             99       137790
      MTYZV  2021-09-08  True             198            119     163359.8
      MTYZV  2021-09-09  True             198            104       142267
      MTYZV  2021-09-10  True             198            101    130250.09
      MTYZV  2021-09-11  True             198            110    145678.38
      MTYZV  2021-09-12  True             198             56     76869.01
      MTYZV  2021-09-13  True             198             77    101612.73
      MTYZV  2021-09-14  True             198             88       127402
      MTYZV  2021-09-15  True             198             90     124206.5
      MTYZV  2021-09-16  True             198             95    131386.74
      MTYZV  2021-09-17  True             198            112    146277.52
      MTYZV  2021-09-18  True             198            136     175848.7
      MTYZV  2021-09-19  True             198             79    106476.59
      MTYZV  2021-09-20  True             198            125    174647.51
      MTYZV  2021-09-21  True             198            152    209143.32
      MTYZV  2021-09-22  True             198            150    211532.32
      MTYZV  2021-09-23  True             198            156    212540.47
      MTYZV  2021-09-24  True             198            150    194001.57
      MTYZV  2021-09-25  True             198            149    195331.57
      MTYZV  2021-09-26  True             198             97    123006.21
      MTYZV  2021-09-27  True             198            108    157159.82
      MTYZV  2021-09-28  True             198            115    163220.94
      MTYZV  2021-09-29  True             198            110       162476
      MTYZV  2021-09-30  True             198            127    174649.22

## PROCUREMENT FUNCTIONS

In [44]:
# This function returns an array with the complete Material Catalog as it was received in the API Response
materials = conn.get_procurement_material_catalog()
# print(materials) # this is a long print
materials = conn.get_procurement_material_catalog_df()
materials.head()

,id,group,group_name,unit,unit_name,name
0,1,0301,Cleaning accesories,SRV,Service,Servicio de Suministro de Limpieza
1,2,0304,Cleaning and Desinfection Supplies,SRV,Service,Servicio de Lavado Para Sillón
2,3,0306,Laundry Supplies,SRV,Service,Servicio de Químicos de Lavandería
3,4,0306,Laundry Supplies,SRV,Service,Servicio de Suministro de Lavandería
4,5,0401,Branded Stationery,SRV,Service,Servicio de Imprenta

In [45]:
# This function returns an array with the complete Vendor Catalog as it was received in the API Response
vendors = conn.get_procurement_vendor_catalog()
# print(vendors)
vendors = conn.get_procurement_vendor_catalog_df()
# print(vendors)
vendors.head()

,id,name,type,city,region,region_name,country,negotiation_type
0,4025522,96d2e180d1d5a36bc8491e3a,N,AMPLIACION RODRIGUEZ,TMS,Tamaulipas,MX,Local
1,4025525,e8e72227b48c28a87e49f1e8,N,VILLAS DE SAN CRISTOBAL,NL,Nuevo León,MX,Local
2,4025526,c4e8e1d95c877e360f9bda30,N,RESERVA TERRITORAL CAMPESTRE,TMS,Tamaulipas,MX,Local
3,4025528,9f14057c539156905732ca1c,N,CIUDAD JUAREZ,CHI,Chihuahua,MX,Local
4,4025530,da94fdd5abc538610fdd19f5,N,LOMAS DEL REAL DE JARACHINA SUR,TMS,Tamaulipas,MX,Local

In [46]:
# This function returns a processed DataFrame with the PurchaseOrders from a Venue
# Change the venue code, start date and final date as needed
purchase_orders = conn.get_procurement_purchase_orders_df('REXVF','2020-08-01','2020-08-15')
# print(purchase_orders)
# This function returns an array with the information as it was received in the API Response
# Change the venue code, start date and final date as needed 
# purchase_orders = conn.get_procurement_purchase_orders('REXVF','2020-08-01','2020-08-15')
# print(purchase_orders)
purchase_orders.head()

,position,venue_code,material_id,material_description,unit,quantity,unit_price,net_value,purchase_order_id,vendor_id,date,company_code,vendor_negotiation_type,vendor_region_name,document_type
0,10,REXVF,3000006507,"Porta Sobres3-3/8x2-5/8""Porcelana Varick",PI,24.00000,30.00000,720.00000,4700000045,4029431,2020-08-13,OMSyR,Local,Nuevo León,ZHOT
1,20,REXVF,3000005147,Cuchara Cafetera Allegra AI 15CM VEA1070,PI,156.00000,25.00000,3900.00000,4700000045,4029431,2020-08-13,OMSyR,Local,Nuevo León,ZHOT
2,30,REXVF,3000002897,Cuchara Sopera 18/10 Acero Inox.,PI,84.00000,29.00000,2436.00000,4700000045,4029431,2020-08-13,OMSyR,Local,Nuevo León,ZHOT
3,40,REXVF,3000003678,Cuchillo de Mesa 18/10 Acero Inoxidable,PI,84.00000,47.00000,3948.00000,4700000045,4029431,2020-08-13,OMSyR,Local,Nuevo León,ZHOT
4,50,REXVF,3000003680,Tenedor de Mesa 18/10 Acero Inoxidable,PI,84.00000,27.00000,2268.00000,4700000045,4029431,2020-08-13,OMSyR,Local,Nuevo León,ZHOT

In [47]:
conn.get_procurement_purchase_orders_df('REXVF','2017-08-01','2017-08-15')

AttributeError: 'list' object has no attribute 'keys'